.hero{
background: linear-gradient(rgba(0,0,0,.6),rgba(0,0,0,.6)),
url('https://images.unsplash.com/photo-1504384308090-c894fdcc538d');
background-size: cover;
padding: 100px 0;
}
.card{min-height:220px;}

.page-content {
  min-height: 80vh;
}
